[Unit]
Description=Screenshot Telegram Sender

[Service]
ExecStart=/bin/bash /home/USERNAME/auto-screenshot-forwarder/scripts/watcher.sh
Restart=always
Environment=PATH=/usr/bin:/bin
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
